In [1]:
print("HEllO GOUTAM")

HEllO GOUTAM

Just to check ki markdown menu say explanation like Sakthi Code ke niche.

In [1]:
45+50

95

In [2]:
x = 5
y = 6
print(x+y)

11

123 / 0

In [ ]:
a + 7

In [12]:
a = 2
b = a + 3
print(b)

5

In [13]:
17 % 5

2

In [14]:
7.5 % 3.5

0.5

In [15]:
10 * (5 + 3)

80

In [16]:
10 * 5 + 3

53

In [17]:
print("Welcome to python programs world")

Welcome to python programs world

In [18]:
print("welcome","to","the","world")

welcome to the world

In [20]:
print("Hello\nGoutam\n\nHow are you!")

Hello
Goutam

How are you!

In [22]:
print("goutam\ttiwari")

goutam	tiwari

print("goutam\\tiwari)

In [23]:
print("goutam\\tiwari)

SyntaxError: unterminated string literal (detected at line 1) (1914891171.py, line 1)

In [24]:
print("goutam\\tiwari")

goutam\tiwari

In [25]:
print("goutam\"tiwari")

goutam"tiwari

In [26]:
print("goutam\'tiwari")

goutam'tiwari

In [29]:
print("Sum is", 7 + 3)

Sum is 10

In [30]:
print('goutam 'hy' how are you')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2989885234.py, line 1)

In [31]:
print('goutam "hy" how are you")

SyntaxError: unterminated string literal (detected at line 1) (2018041622.py, line 1)

In [32]:
print('goutam "hy" how are you')

goutam "hy" how are you

In [33]:
print('goutam \'hy\' how are you')

goutam 'hy' how are you

In [34]:
print('goutam "\hy"\ how are you')

goutam "\hy"\ how are you

<>:1: SyntaxWarning: invalid escape sequence '\h'
<>:1: SyntaxWarning: invalid escape sequence '\h'
C:\Users\Goutam Tiwari\AppData\Local\Temp\ipykernel_7732\2283948558.py:1: SyntaxWarning: invalid escape sequence '\h'
  print('goutam "\hy"\ how are you')

In [35]:
print('goutam \"hy\" how are you')

goutam "hy" how are you

In [37]:
print("""goutam "hy" and 'bye' in quotes.""")

goutam "hy" and 'bye' in quotes.

In [38]:
name = input("Enter name")
print(name)

Enter name goutam

goutam

In [39]:
name

'goutam'

In [40]:
print(name)

goutam

In [42]:
value1 = input("Enter first value")
value2 = input("Enter second value")
print(value1 + value2)

Enter first value 7
Enter second value 3

73

In [43]:
value1 = int(value1)
value2 = int(value2)
print(value1 + value2)

10

In [46]:
a = int(input("Enter an interger"))

Enter an interger hello

ValueError: invalid literal for int() with base 10: 'hello'

In [47]:
int(10.77777)

10

In [48]:
7 > 4

True

In [49]:
4 > 7

False

In [50]:
4 >= 4

True

In [51]:
4 <= 4

True

In [52]:
4 != 0

True

In [53]:
4 ! = 0

SyntaxError: invalid syntax (754972771.py, line 1)

In [55]:
a = int(input("Enter interger:- "))
b = int(input("Enter interger:- "))
if a == b:
    print(a,"is equal to",b)
if a != b:
    print(a,"is not equal to",b)
if a < b:
    print(a,"is less than",b)
if a > b:
    print(a,"is greater than",b)
if a <= b:
    print(a,"is less than or equal to",b)
if a >= b:
    print(a,"is greater then or equal to",b)

Enter interger:-  37
Enter interger:-  40

37 is not equal to 40
37 is less than 40
37 is less than or equal to 40

In [58]:
n1 = int(input("Enter first number:-"))
n2 = int(input("Enter second number:-"))
n3 = int(input("Enter Thrid number:- "))

minimum = n1

if n2 < minimum:
    minimum = n2
if n3 < minimum:
    minimum = n3

print("mininum number out of given three numbers is :- ",minimum)

Enter first number:- 1
Enter second number:- 2
Enter Thrid number:-  3

mininum number out of given three numbers is :-  1

In [60]:
max(1,2,3)

3

In [59]:
min(1,2,3)

1

In [61]:
Grade = 50
if Grade >= 60:
    print("Passed")
else:
    print("failed")

failed

In [62]:
Grade = 30
if Grade >= 60:
    result = "passed"
else:
    result = "failed"
print(result)

failed

In [63]:
Grade = 60
result = ("passed" if Grade >= 60 else "failed")
print(result)

passed

In [64]:
"passed" if Grade >= 60 else "failed"

'passed'

In [65]:
grade = 77

if grade >= 90:
    print("A")
elif grade >= 80:
    print("B")
elif grade >= 70:
    print("C")
elif grade >= 60:
    print("D")
else:
    print("F")

C

In [68]:
for character in "Programming":
    print(character, end='  ')

P  r  o  g  r  a  m  m  i  n  g

In [69]:
for char in "Programming":
    print(char, end='  ')

P  r  o  g  r  a  m  m  i  n  g

In [72]:
print(10,20,30,sep=", ")

10, 20, 30

In [73]:
total = 0
for iterator in [1,-2,3,4]:
    total = total + iterator
print(iterator)

4

In [74]:
for counter in range(10):
    print(counter,end=", ")

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,

In [76]:
for counter in range(5):
    print(counter,end=", ")

0, 1, 2, 3, 4,

In [77]:
total = 0
for number in [1,2,3,4]:
    total += number
print(total)

10

In [83]:
# Sequence controlled iteration - formatted strings 
total = 0
grade_counter = 0
grades = [98,76,71,87,83,90,57,79,82,94]

for grade in grades:
    total += grade
    grade_counter += 1

# average = total / grade_counter
print(f'Class average is {total / grade_counter}')

Class average is 81.7

In [90]:
total = 0
counter = 0

grades = int(input('Enter grades , -1 to end: '))
while grade != -1:
    total += grade
    counter += 1
    grades = int(input('Enter grades , -1 to end: '))

if counter != 0:
    average = total / counter
    print(f"Average is {average:.2f}")
else:
    print("No grades were entered")

Enter grades , -1 to end:  89

No grades were entered

In [94]:
for i in range(0,10):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [95]:
for i in range(0,10,2):
    print(i,end=" ")

0 2 4 6 8

In [96]:
for i in range(10,0,-2):
    print(i,end=" ")

10 8 6 4 2

In [100]:
for i in range(0,100):
    if i == 10:
        break
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [1]:
for i in range(12):
    if i == 10:
        continue
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9 11

In [104]:
gender = 'female'
age = 70

if gender == 'female' and age >= 65:
    print("Senior female")

Senior female

In [105]:
semester_avg = 83
final_exam = 95
if semester_avg >= 90 or final_exam >= 90:
    print('A Grade')

A Grade

In [107]:

grade = [85,93,45,89,85]
result = sum(grade) / len(grade)
print(result)

79.4

In [115]:
import statistics
statistics.mean(grade)

79.4

In [117]:
statistics.median(grade)

85

In [118]:

statistics.mode(grade)

85

In [119]:
sorted(grade)

[45, 85, 85, 89, 93]

In [120]:
def square(number):
    return number ** 2
square(7)

49

In [121]:
square?

Signature: square(number)
Docstring: <no docstring>
File:      c:\users\goutam tiwari\appdata\local\temp\ipykernel_7732\1382631848.py
Type:      function

In [122]:
square??

Signature: square(number)
Docstring: <no docstring>
Source:
def square(number):
    return number ** 2
File:      c:\users\goutam tiwari\appdata\local\temp\ipykernel_7732\1382631848.py
Type:      function

In [123]:
min??

Docstring:
min(iterable, *[, default=obj, key=func]) -> value
min(arg1, arg2, *args, *[, key=func]) -> value

With a single iterable argument, return its smallest item. The
default keyword-only argument specifies an object to return if
the provided iterable is empty.
With two or more arguments, return the smallest argument.
Type:      builtin_function_or_method

In [124]:
def maximum(v1,v2,v3):
    max_value = v1
    if v2 > max_value:
        max_value = v2
    if v3 > max_value:
        max_value = v3
    return max_value

In [125]:
maximum(2,3,4)

4

In [126]:
maximum('yellow','red','orange')

'yellow'

In [127]:
import random 
for roll in range(10):
    print(random.randrange(1,7), end=" ")

2 3 1 2 4 4 5 5 4 2

In [13]:
#Roll a six-sided die 6,000,000 times

import random

#face frequency counters
frequency1 = 0
frequency2 = 0
frequency3 = 0
frequency4 = 0
frequency5 = 0
frequency6 = 0

#6,000,000 die rolls
for roll in range(6_000_000): #note underscore separators 
    face = random.randrange(1,7)
    #increment appropriate face counter
    if face == 1:
        frequency1 += 1
    elif face == 2:
        frequency2 += 1
    elif face == 3:
        frequency3 += 1
    elif face == 4:
        frequency4 += 1
    elif face == 5:
        frequency5 += 1
    elif face == 6:
        frequency6 += 1
        
print(f'Face{"Frequency":>13}')
print(f'{1:>4}{frequency1:>13}')
print(f'{2:>4}{frequency2:>13}')
print(f'{3:>4}{frequency3:>13}')
print(f'{4:>4}{frequency4:>13}')
print(f'{5:>4}{frequency5:>13}')
print(f'{6:>4}{frequency6:>13}')

Face    Frequency
   1       999525
   2       999443
   3      1000965
   4       999694
   5       999541
   6      1000832

In [18]:
#case study:A Game of change
import random

def roll_dice():
    die1 = random.randrange(1,7)
    die2 = random.randrange(1,7)
    return (die1,die2) #pack die face values into tuple

def display_dice(dice):
    die1, die2 = dice #unpack the tuple into variables die1 and die2
    print(f'Player rolled {die1} + {die2} = {sum(dice)}')

die_values = roll_dice() #first roll
display_dice(die_values)

#determine game status and point, based on first roll
sum_of_dice = sum(die_values)

if sum_of_dice in (7,11): #win
    game_status = 'WON'
elif sum_of_dice in (2,3,12): #lose
    game_status = 'LOST'
else: #remember point
    game_status = 'CONTINUE'
    my_point = sum_of_dice
    print('point is', my_point)

#continue rolling until player wins or loses
while game_status == 'CONTINUE':
    die_values = roll_dice()
    display_dice(die_values)
    sum_of_dice = sum(die_values)

    if sum_of_dice == my_point: #win by making point
        game_status = 'WON'
    elif sum_of_dice == 7: # lose by rolling 7
        game_status = 'LOST'

#display "wins" or "losses" message
if game_status == 'WON':
    print('Player wins')
else:
    print('Player loses')

Player rolled 4 + 1 = 5
point is 5
Player rolled 2 + 5 = 7
Player loses

In [20]:
#math module function
import math
math.sqrt(900)

30.0

In [38]:
#some math module fuctions:-
import math
x = 9.2
y = 7.0
print(math.ceil(x)) 
print(math.floor(x))
print(math.sin(x))
print(math.cos(x))
print(math.tan(x))
print(math.exp(x))
print(math.log(x))
print(math.log10(x))
print(math.pow(x,y))
print(math.sqrt(x))
print(math.fabs(x))
print(abs(x))
print(math.fmod(x,y))

10
9
0.22288991410024764
-0.9748436214041636
-0.22864171155902654
9897.129058743909
2.2192034840549946
0.9637878273455552
5578466.012364797
3.03315017762062
9.2
9.2
2.1999999999999993

In [39]:
ma<Tab>

SyntaxError: invalid syntax (16768088.py, line 1)

In [44]:
def rectangle_area(length=2, width=3):
    return length * width
print(rectangle_area())

6

In [46]:
rectangle_area(10,3)

30

In [1]:
# Methods
s = 'hello'
s.lower()

'hello'

In [2]:
s.upper()

'HELLO'

In [12]:
 x = 7
def access_global():
    x = 3
    print('Assising global varible-- after modifying x :- ',x)
access_global()
print(x)

Assising global varible-- after modifying x :-  3
7

In [14]:
# import --deeper look
from math import ceil,floor
ceil(10.3)
#floor(10.7)

11

In [15]:
x = 2
id(x)

140711935207896

In [17]:
x = 7
def cube(x):
    print("id(7) is :- ",id(x))
    return x ** 3
cube(x)

id(7) is :-  140711935208056

343

In [22]:
#factorial of a number --recursion
factorial = 1
for number in range(5,0,-1):
    factorial *= number
print(factorial)

120

In [23]:
factorial

120

In [24]:
#implementing using recuresion
def factorial(number):
    if number <= 1:
        return 1
    return number * factorial(number - 1) #recursive call

for i in range(11):
    print(f'{i}! = {factorial(i)}')

0! = 1
1! = 1
2! = 2
3! = 6
4! = 24
5! = 120
6! = 720
7! = 5040
8! = 40320
9! = 362880
10! = 3628800

In [25]:
def factorial(number):
    if number <= 1:
        return 1
    return number * factorial(number - 1)
factorial(5)

120

In [26]:
factorial

In [32]:
#list 
c = [-45,98,80,50,9]
print(c)l

[-45, 98, 80, 50, 9]

In [34]:
details = ['goutam','tiwari','22','Male']
print(details)

['goutam', 'tiwari', '22', 'Male']

In [35]:
details

['goutam', 'tiwari', '22', 'Male']

In [36]:
details[0]

'goutam'

In [37]:
details[-1]

'Male'

In [38]:
a = 1
b= 2
c [a + b]

50

In [39]:
c[a+b]

50

In [40]:
s = 'hello'
s[0] = 'H'
print(s)

TypeError: 'str' object does not support item assignment

In [41]:
details[9]

IndexError: list index out of range

In [48]:
# Appending to a list with +=....right side of += should be iterable.
list = []
for number in range(1, 6):
    list += [number]
print(list)

[1, 2, 3, 4, 5]

In [52]:
# 
letter = []
letter += 'Python'
print(letter)

['P', 'y', 't', 'h', 'o', 'n']

In [54]:
# concatenation list with +=
l = [1,2,3]
m = [5,6,7]
concatenated_list = l + m
print(concatenated_list)

[1, 2, 3, 5, 6, 7]

In [55]:
concatenated_list

[1, 2, 3, 5, 6, 7]

In [57]:
# Using for and range to access list indices and values. 
for i in range(len(concatenated_list)):
    print(f'{i}: {concatenated_list[i]}')

0: 1
1: 2
2: 3
3: 5
4: 6
5: 7

In [58]:
#comparision operator
# You can compare entire list elements by elements using comparison operators
a = [1,2,3]
b = [1,2,3]
c = [1,2,3,4]

a == b

True

In [59]:
a == c

False

In [60]:
a < c

True

In [61]:
c >= b

True

In [64]:
# Tuples are immutable and typically store heterogeneous data, but data can be homogeneous. 
# tuple's length in its number of elements and cannot change during programe execution.

# Creating Tuple
student_tuple = ()
print(len(student_tuple))

# Recall that you can pack a tuple by separating its values with commas.
student_tuple2 = 'goutam', 'tiwari', '22', 'Engineering'
print(student_tuple2)

len(student_tuple2)

0
('goutam', 'tiwari', '22', 'Engineering')

4

In [65]:
# Accessing tuple elements
time_tuple = (9,16,1)

time_tuple[0] * 3600 + time_tuple[1] * 60 + time_tuple[2]

33361

In [66]:
tuple_01 = (10,20,30)
tuple_01 += (40,50)
print(tuple_01)

(10, 20, 30, 40, 50)

In [67]:
tuple_01

(10, 20, 30, 40, 50)

In [71]:
tuple_02 = tuple_01
print(tuple_02)
tuple_01 += (60,70)
print(tuple_01)
print(tuple_02) # Tuple2  still refers to the original tuple.

(10, 20, 30, 40, 50, 60, 70)
(10, 20, 30, 40, 50, 60, 70, 60, 70)
(10, 20, 30, 40, 50, 60, 70)

In [73]:
# Appending Tuples to lists
numbers = [1,2,3,4,5] #list
numbers += (6,7)      #appending tuple(6,7) into list 
numbers

[1, 2, 3, 4, 5, 6, 7]

In [77]:
# Tuples may contain mutable objects
student_dairy = ('Goutam','Tiwari',[90,85,91])
student_dairy[2][1] = 95
print(student_dairy)

('Goutam', 'Tiwari', [90, 95, 91])

In [81]:
dies = 'goutam\ntiwari','hello'
print(dies)
type(dies)

('goutam\ntiwari', 'hello')

tuple

In [90]:
#unpacking sequences
stu_tuple = ('Goutam',[98,97,99])
first_name, grades = stu_tuple
first_name

'Goutam'

In [91]:
grades

[98, 97, 99]

In [97]:
# We can also unpack string,list and a sequence 
s = 'hi'
first,second = s
print(first)
print(second)

h
i

In [100]:
print(f'{first}\t{second}')

h	i

In [101]:
n1, n2, n3 = [2,3,5]
print(f'{n1} {n2} {n3}')

2 3 5

In [103]:
n1, n2, n3 = range(10,40,10)
print(f'{n1}\t{n2}\t{n3}')

10	20	30

In [106]:
# Swapping value using packing and unpacking
number1 = 99
number2 = 22
number1, number2 = (number2,number1)
print(f'number1 = {n1}; number2 = {number2}')

number1 = 22; number2 = 99

In [122]:
# Accessing indices and values safely with build-in function enumerate
colours = ['red', 'yellow', 'orange']
for index, value in enumerate(colours):
    print(f'{index}: {value}')

0: red
1: yellow
2: orange

In [2]:
numbers = [19,3,15,7,11]

print('\nCreating a bar chart form numbers:')
print(f'Index{"Value":>8} Bar')

for index, value in enumerate(numbers):
    print(f'{index:>5}{value:>8} {"*" * value}')

Creating a bar chart form numbers:
Index   Value Bar
    0      19 *******************
    1       3 ***
    2      15 ***************
    3       7 *******
    4      11 ***********

In [1]:
2 + 1

3

In [2]:
numbers = [1,2,3,4,5,6,7,9]
numbers[2:4]

[3, 4]

In [3]:
numbers[:8]

[1, 2, 3, 4, 5, 6, 7, 9]

In [5]:
numbers[0:7]

[1, 2, 3, 4, 5, 6, 7]

In [6]:
numbers[2:]

[3, 4, 5, 6, 7, 9]

In [7]:
numbers[2:len(numbers)]

[3, 4, 5, 6, 7, 9]

In [10]:
numbers[:]

[1, 2, 3, 4, 5, 6, 7, 9]

In [11]:
numbers[::2]

[1, 3, 5, 7]

In [12]:
#reverse order
numbers[::-1]

[9, 7, 6, 5, 4, 3, 2, 1]

In [13]:
#delete first three numbers
numbers[0:3] = []
numbers

[4, 5, 6, 7, 9]

In [19]:
#updating values in list by a jump of 2
numbers[::2] = [100,200,300]
numbers

[100, 5, 200, 7, 300]

In [20]:
id(numbers)

2594085895360

In [21]:
#deleting all the elements in numbers,leaving the existing list empty
numbers[:] = []
numbers

[]

In [22]:
id(numbers)

2594085895360

In [23]:
numbers

[]

In [25]:
# using del statement to remove elements from a list 
num = list(range(0,10))
num

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
del num[-1]
num

[0, 1, 2, 3, 4, 5, 6, 7]

In [28]:
# deleting list's first two elements
del num[0:2]
num

[2, 3, 4, 5, 6, 7]

In [29]:
del num[:]

In [30]:
num

[]

In [31]:
# deleting a variable from the current session
del num

In [32]:
num

NameError: name 'num' is not defined

In [33]:
# passing an Entire list to a function
def Modify_elements(items):
    for i in range(len(items)):
        items[i] *= 2

items = [2,4,6]
Modify_elements(items) #passing entire list as argument
items

[4, 8, 12]

In [34]:
#passing tuple to a function 
nums_tuple = (10,20,30)
Modify_elements(nums_tuple)

TypeError: 'tuple' object does not support item assignment

In [36]:
#sorting lists
a = [10,3,7,1,2,5,7,9,6]
a.sort()
a

[1, 2, 3, 5, 6, 7, 7, 9, 10]

In [37]:
a.sort(reverse=True)
a

[10, 9, 7, 7, 6, 5, 3, 2, 1]

In [38]:
# sort using build-in functions
sorted(a)
a

[10, 9, 7, 7, 6, 5, 3, 2, 1]

In [41]:
letter = 'fdsodifjdosifjsoj'
sorted(letter)

['d',
 'd',
 'd',
 'f',
 'f',
 'f',
 'i',
 'i',
 'j',
 'j',
 'j',
 'o',
 'o',
 'o',
 's',
 's',
 's']

In [46]:
colours = ('red', 'orange', 'yellow', 'green', 'blue')
acending_colours = sorted(colours)
acending_colours

['blue', 'green', 'orange', 'red', 'yellow']

In [47]:
decending_colours = sorted(colours,reverse=True)
decending_colours

['yellow', 'red', 'orange', 'green', 'blue']

In [48]:
# searching
#searching in list -- list method index ---through an error if key does't found at particular index
numbers = [3,7,1,4,2,8,5,6]
numbers.index(5)

6

In [49]:
numbers.index(10) #not present in list ---> will through an error

ValueError: 10 is not in list

In [55]:
# You can use *= to multiply a sequence -- that is, append a sequence to itself

In [56]:
numbers *= 2
numbers

[3,
 7,
 1,
 4,
 2,
 8,
 5,
 6,
 3,
 7,
 1,
 4,
 2,
 8,
 5,
 6,
 3,
 7,
 1,
 4,
 2,
 8,
 5,
 6,
 3,
 7,
 1,
 4,
 2,
 8,
 5,
 6,
 3,
 7,
 1,
 4,
 2,
 8,
 5,
 6,
 3,
 7,
 1,
 4,
 2,
 8,
 5,
 6,
 3,
 7,
 1,
 4,
 2,
 8,
 5,
 6,
 3,
 7,
 1,
 4,
 2,
 8,
 5,
 6,
 3,
 7,
 1,
 4,
 2,
 8,
 5,
 6,
 3,
 7,
 1,
 4,
 2,
 8,
 5,
 6,
 3,
 7,
 1,
 4,
 2,
 8,
 5,
 6,
 3,
 7,
 1,
 4,
 2,
 8,
 5,
 6,
 3,
 7,
 1,
 4,
 2,
 8,
 5,
 6,
 3,
 7,
 1,
 4,
 2,
 8,
 5,
 6,
 3,
 7,
 1,
 4,
 2,
 8,
 5,
 6,
 3,
 7,
 1,
 4,
 2,
 8,
 5,
 6]

In [58]:
# The following code searches the updated list for the value 5 starting from index 7 and continuing through the end of the list.
numbers.index(5,7)

14

In [59]:
numbers.index(5,7) # searching with starting to upto but not including the last index

14

In [60]:
numbers.index(5,7,len(numbers))

14

In [61]:
# The following look for the value 7 in the range of element with indices 0 through 3.
numbers.index(7,0,4)

1

In [62]:
# Operator in and not in
# Operator in test whether its right operant's Iterabal contains the left operands value.
1000 in numbers

False

In [63]:
7 in numbers

True

In [65]:
# not in Operator
1000 not in numbers

True

In [66]:
5 not in numbers

False

In [72]:
# Using ooperartor in to Prevent a ValueError
key = 100
if key in numbers:
    print(f'found {key} at index {numbers.index(seach_key)}')
else:
    print(f'{key} not found')

100 not found

In [73]:
# Using ooperartor in to Prevent a ValueError
key = 5
if key in numbers:
    print(f'found {key} at index {numbers.index(5)}')
else:
    print(f'{key} not found')

found 5 at index 6

In [ ]:
# Build-In Functions any and all
# The building function any returns true if any item in its site travel argument is true. The built in function all returns true if all items in its eye travel arguments are true. 
# Recall that non zero values are true and zero is false. Non empty I travel upset 
# also evaluates to true where. any empty iterable evolutions to false function any and all are additional example of internal iteration in functional style programming.

In [74]:
# Inserting element at a particular index
colors = ['orange','yellow','green']
colors.insert(0,'red')
colors

['red', 'orange', 'yellow', 'green']

In [75]:
#Adding element to the end of the list
colors.append('blue')
colors

['red', 'orange', 'yellow', 'green', 'blue']

In [76]:
# Adding all the elements of a sequence to the end of a list
colors.extend(['indigo','violet'])
colors

['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']

In [78]:
#Appending list with a string
sample_list = []
s = 'abc'
sample_list.extend(s)
sample_list

['a', 'b', 'c']

In [79]:
t = (1,2,3)
sample_list.extend(t)
sample_list

['a', 'b', 'c', 1, 2, 3]

# Appending tuple without creating a temprorary variable like - "t"
sample_list.extend((4,5,6)) # note the extra parentheses
sample_list
#type error will occur if you omit the required paranthesis

In [81]:
# Removing first occurence of a list
colours

('red', 'orange', 'yellow', 'green', 'blue')

In [82]:
colors.remove('red')
colors

['orange', 'yellow', 'green', 'blue', 'indigo', 'violet']

In [89]:
colors.remove('yellow')
colors

['orange', 'green', 'indigo', 'violet']

In [91]:
# Emptying a list
# to clear all the elements in a list, call method clear.
colors.clear()
colors

[]

In [93]:
colors[:] = [] # equivalent to previously shown slice assignment
colors

[]

In [94]:
# Counting the Number of Occurrences of an Item
#List method count searches for its argument and returns the number of times it is found
responses = [1,2,5,4,3,5,2,1,3,3,1,4,3,3,3,2,3,3,2,2]
for i in range(1,6):
    print(f' {i} appears {responses.count(i)} times in responses')

 1 appears 3 times in responses
 2 appears 5 times in responses
 3 appears 8 times in responses
 4 appears 2 times in responses
 5 appears 2 times in responses

In [95]:
#Reversing a list' Elements
color = ['red','green','yellow','orange','red']
color.reverse()
color

['red', 'orange', 'yellow', 'green', 'red']

In [96]:
# Copying a list
# List method copy returns a new list containing a Shallow copy of the original list.
copied_list = color.copy()
copied_list

['red', 'orange', 'yellow', 'green', 'red']

In [97]:
copied_list = color[:]
color

['red', 'orange', 'yellow', 'green', 'red']

In [99]:
# Simulating Stack with List:
# python not have build in stack type --> think list as contrained list -- push(append) ---add ele at the end of list.
# pop() -- with no argument--- which removes and returns the items at the end of the list.

#creating emtpy stack
stack = []
stack.append('red')
stack

['red']

In [100]:
stack.append('green')
stack

['red', 'green']

In [101]:
stack.pop()

'green'

In [102]:
stack

['red']

In [103]:
stack.pop()

'red'

In [104]:
stack

[]

In [105]:
stack.pop()

IndexError: pop from empty list

In [106]:
# You also can use a list to simulate another popular collection called a queue, in which you insert at the back and delete from the front.
# Items are retrieved from queue in first in  first out(FIFO) order.

In [108]:
# List comprehension to create a list of integers.
list2 = [item for item in range(1,6)]
list2

[1, 2, 3, 4, 5]

In [111]:
# performing operations in a list comprehension's expression
list3 = [item ** 3 for item in range(1,6)]
list3

[1, 8, 27, 64, 125]

In [112]:
# Filtering list comprehension with if clauses. to select only those that matches a condition.
# This typically produces a list with fewer elements then the data being filtered.

In [113]:
list4 = [item for item in range(1,11) if item % 2 == 0]
list4

[2, 4, 6, 8, 10]

In [115]:
# List comprehension debt processes another list elements.
# The foreclosure can process any trouble. 
# Let's create a list of the lowercase  string and use our list comprehension to create a new list containing their upper case versions.
color = ['red','orange','yellow','green','blue']
color = [item.upper() for item in color]
color

['RED', 'ORANGE', 'YELLOW', 'GREEN', 'BLUE']

In [116]:
color = [item.lower() for item in color]
color

['red', 'orange', 'yellow', 'green', 'blue']

In [1]:
# Generator Expressions
numbers = [10,3,7,1,9,4,2,8,5,6]
for value in (x ** 2 for x in numbers if x % 2 != 0):
    print(value, end=" ")

9 49 1 81 25

In [2]:
Squares_of_odd = (x ** 2 for x in numbers if x % 2 != 0)

In [4]:
Squares_of_odd

In [6]:
#Filter, Map and Reduce

#using filter build-in function to obtain odd values in numbes
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

def is_odd(x):
    # Returns true if X is odd
    return x % 2 != 0

list(filter(is_odd, numbers)) # The result of filter is a filter object, which is lazy. and does not compute result immediately. 
# That's why we use list to convert filter object into a list of odd numbers.

[1, 3, 5, 7, 9, 11]

In [7]:
# We can also use. list comprehension with if clause.
[item for item in numbers if is_odd(item)]

[1, 3, 5, 7, 9, 11]

In [11]:
# we can use lamda rather than a function
filter(lambda x: x % 2 != 0, numbers) # this is a object so we need to convert it into list

In [12]:
list(filter(lambda x: x % 2 != 0, numbers))

[1, 3, 5, 7, 9, 11]

In [14]:
# Mapping a sequence's values to a new values.
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]
list(map(lambda x: x ** 2, numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144]

In [16]:
# we can also use
[item ** 2 for item in numbers]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144]

In [20]:
# combining filter and map
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]
list(map(lambda x: x ** 2, filter(lambda x: x % 2 != 0, numbers)))

[1, 9, 25, 49, 81, 121]

In [21]:
# can also use list comprehension 
[x ** 2 for x in numbers if x % 2 != 0]

# For each value of x and numbers, the expression x ** 2 is performed only if the condition x % 2 != 0 is true.

[1, 9, 25, 49, 81, 121]

In [23]:
# Other sequence processing functions.
# ord build-in function which returns the Numerical value of a character
ord('R')  # We'll return the numerical value of a character.

84

In [24]:
'Red' < 'orange'  # lowercase has high numerical value than uppercase

True

In [25]:
# Let's assume that we like to determine minimum and maximum string using alphabetical order, not numerical yaffir. Lexi graphically order. 
# If we arrange colors alphabetically, blue, green, orange, red and yellow,
colour = ['Blue','green','orange','Red','Yellow']
min(colour, key=lambda s: s.lower())

'Blue'

In [28]:
max(colour, key=lambda s: s.lower())  # Since python. compares strings using numerical values. 
                                      # lamdba calls lower(method) to get a stirng's lowercase version

'Yellow'

In [29]:
# iterating in reverse order
numbers = [1,2,3,4]
[item for item in reversed(numbers)]

[4, 3, 2, 1]

In [34]:
# Combining Iterables into tuples of corresponding Elements. using zip build-in function
names = ['goutam', 'Dingi', 'mudit']
grades_avg = [90,80,90]
for name,gpa in zip(names, grades_avg):  #zip function Allows you to iterate over multiple iterables of data at the same time.
    print(f'Name = {name} - GPA={gpa}')


# note - If names had four elements, but grade average had only three,
    # does it function would stop after 3rd element, since grade average is the shortest iterable.

Name = goutam - GPA=90
Name = Dingi - GPA=80
Name = mudit - GPA=90

In [36]:
# Two dimensional list. 

a = [ [77,68,86,73],
      [96,87,89,81],
      [70,90,86,81] ]
a

[[77, 68, 86, 73], [96, 87, 89, 81], [70, 90, 86, 81]]

In [37]:
#nested for loop
for row in a:
    for item in row:
        print(item,end=" ")
    print()

77 68 86 73
96 87 89 81
70 90 86 81

In [39]:
# we will modify the nested loop to display list's name ,row,coloum,and its values
for i, row in enumerate(a):
    for j, item in enumerate(row):
        print(f' a[{i}][{j}] = {item}', end=" ")
    print()

# note - We will use array-oriented-programming --numpy lib-->ndarray collection| pandas lib's Dataframes collection.
# These enabled you to manipulate multi dimensional collection more concisely and conveniently 
# than the  2 dimensional list manipulations you have seen in this section

 a[0][0] = 77  a[0][1] = 68  a[0][2] = 86  a[0][3] = 73
 a[1][0] = 96  a[1][1] = 87  a[1][2] = 89  a[1][3] = 81
 a[2][0] = 70  a[2][1] = 90  a[2][2] = 86  a[2][3] = 81

In [41]:
import matplotlib.pyplot as plt
import numpy as np
import random
import seaborn as sns

rolls = [random.randrange(1,7) for i in range(600)]
values, frequencies = np.unique(rolls, return_counts=True)

ModuleNotFoundError: No module named 'matplotlib'

In [7]:
# Dictionary and sets
countery_codes = {'India' : 91 , 'Pakistan' : 92 , 'China': '08' }
countery_codes

{'India': 91, 'Pakistan': 92, 'China': '08'}

In [2]:
len(countery_codes)

3

In [3]:
# dictionary --- flase-- if empty
if countery_codes:
    print("Dictonary is not empty")
else:
    print("Dictonary is empty")

Dictonary is not empty

In [8]:
Day_per_month = {'January' : '31' , 'Febrary' : '28' , 'March': '31' }
Day_per_month 
# dictonary are unordered--- The dictionary string representation shows the key value pair in their insertion order. 
# But it is not guaranteed because the diaries are unordered. We will look into it in latter chapters

{'January': '31', 'Febrary': '28', 'March': '31'}

In [10]:
# For statement iterates through days per month key value fare dictionary method (.items) written each key value  as a tuple,
# which we unpack into month and days
for month,days in Day_per_month.items():
    print(f'{month} has {days} days')

January has 31 days
Febrary has 28 days
March has 31 days

In [11]:
# Basic operations
roman_numerals = {'I' : 1, 'II' : 2, 'III' : 3, 'IV' : 4, 'V' : 5, 'X' : 100 }
roman_numerals

{'I': 1, 'II': 2, 'III': 3, 'IV': 4, 'V': 5, 'X': 100}

In [12]:
#Acessing the values
roman_numerals['V']

5

In [13]:
#updating the existing key-value pair
roman_numerals['X'] = 10
roman_numerals['X']

10

In [14]:
#Adding new key-value pair ---> remember --> keys are case-sensitive
roman_numerals['K'] = 13
roman_numerals

{'I': 1, 'II': 2, 'III': 3, 'IV': 4, 'V': 5, 'X': 10, 'K': 13}

In [15]:
# Removing a key-value pair
del roman_numerals['V']
roman_numerals

{'I': 1, 'II': 2, 'III': 3, 'IV': 4, 'X': 10, 'K': 13}

In [16]:
# also remove key-value pair by pop method of dictonary ---> it will return the value of removed element
roman_numerals.pop('X')

10

In [18]:
# Attempting to access non-existing key
roman_numerals['XI']

#note - you can use get method which return None if key not found

KeyError: 'XI'

In [19]:
# using get method
roman_numerals.get('III')

3

In [22]:
roman_numerals.get('XI' ,'XI not in dictionary')

'XI not in dictionary'

In [23]:
roman_numerals.get('III', 'III is not in dictonary') # if found--then got value AND if not found-- String associated will be printed.

3

In [24]:
# Testing Wheather a Dictonary contains a specified key
# using 'in' and 'not in'
'V' in roman_numerals

False

In [25]:
'III' in roman_numerals

True

In [26]:
'XI' not in roman_numerals

True

In [38]:

#just like we have --> item method of dictionary | we also have .keys , .values method each will return the dictnary's data
month = {'January':1, 'Febrary':2 , 'March':3, 'April':4}
for month_name in month.keys():
    print(month_name, end=" ")

January Febrary March April

In [39]:
for month_number in month.values():
    print(month_number, end=" ")

1 2 3 4

In [40]:
# Dictonary View
months_view = month.keys()

for key in months_view:
    print(key, end=" ")

January Febrary March April

In [41]:
months['April'] = 44

In [42]:
months

{'January': 1, 'Febrary': 2, 'March': 3, 'April': 44}

In [44]:
for key in months_view:
    print(key, end=" ")

January Febrary March April

In [45]:
# converting Dic-- key,values or key-values pair into lists
list(month.keys())

['January', 'Febrary', 'March', 'April']

In [46]:
list(month.values())

[1, 2, 3, 4]

In [47]:
list(months.items())

[('January', 1), ('Febrary', 2), ('March', 3), ('April', 44)]

In [49]:
# processing keys in sorted order
for month_name in sorted(month.keys()):
    print(month_name, end=" ")

April Febrary January March

In [50]:
# Dictionary comparisions
fruits1 = {'Bhindi':2, 'Potato':3 }
fruits2 = {'Tomato':1, 'chilli':4 }
fruits1 == fruits2

False

In [51]:
fruits1 != fruits2

True

In [59]:
#Dictionary of a student Grades -- marks of 4 students in 3 subjects
Grade_book = {
    "Susan" : [92,85,100],
    "Eduardo" : [83,95,79],
    "Azizi" : [91,89,92],
    "Pantipa" : [97,91,92] }
all_grades_total = 0
all_grades_count = 0

for name, grades in Grade_book.items():
    total = sum(grades)
    print(f' Average for {name} is {total/len(grades):.2f}')
    all_grades_total += total
    all_grades_count += len(grades)

print(f"class's Average is : {all_grades_total / all_grades_count :.2f}")

 Average for Susan is 92.33
 Average for Eduardo is 85.67
 Average for Azizi is 90.67
 Average for Pantipa is 93.33
class's Average is : 90.50

In [70]:
# example -- Word count
text = 'this is sample text with several words this is more sample text with some different words'
word_count = {}

#count occurance of each unique word
for word in text.split():
    if word in word_count:
        word_count[word] += 1  # update existing key-value pair
    else:
        word_count[word] = 1   #insert new key-value pair
print(f'{"WORD":<12}COUNT')

for word, count in sorted(word_count.items()):
    print(f'{word:<12}{count}')

print('\n Number of unique words:', len(word_count))

WORD        COUNT
different   1
is          2
more        1
sample      2
several     1
some        1
text        2
this        2
with        2
words       2

 Number of unique words: 10

In [69]:
# Python standard library module collection
# This library contains counting functionality that we implemented using the dictionary and loop.
# The module collection contains the type counter which receives an eye driver and summarizes its elements.
# Let's re implement the preceding script in fuel lines of code with counter

from collections import Counter
text = 'this is sample text with several words this is more sample text with some different words'

counter = Counter(text.split())
for word, count in sorted(counter.items()):
    print(f'{word:<12}{count}')

print('Number of unique keys:' ,len(counter.keys()))

different   1
is          2
more        1
sample      2
several     1
some        1
text        2
this        2
with        2
words       2
Number of unique keys: 10

In [72]:
#Dictionary method update
#update method ---insert key-value pair and can also update it
country_codes ={}
country_codes.update({'South Africa':'za'})
country_codes

{'South Africa': 'za'}

In [73]:
country_codes.update(Australia='au') # it took Australia as stirng as a key and au as its value
country_codes

{'South Africa': 'za', 'Australia': 'au'}

In [74]:
# Reversing key-value pair in dictonary
dic = {'view' : 1 ,'hear' : 2 }
dic2 = {number:name for name, number in dic.items()}
dic2

{1: 'view', 2: 'hear'}

In [75]:
month = {'January':1, 'Febrary':2, 'March':3}
month2 = {number : name for name, number in month.items()}
month2

{1: 'January', 2: 'Febrary', 3: 'March'}

In [79]:
#another example
grades = {'Sue':[98,87,94], 'Bob':[84,95,91]}
grades2 = {k: sum(v) / len(v) for k, v in grades.items()}
grades2

{'Sue': 93.0, 'Bob': 90.0}

In [81]:
# sets
# Some points to remember
# It is unordered collection of unique values. only contain immutable objects like string and float tuple.
# sets , do not support indexing and slicing with a square bracket. Dictionaries also do not support slicing
# Important use of set is duplicate elimination automatically when creating a set.
# Resulting set value or not displayed in the same order as they were listed in snippet 1
# You should not write code that depends on the order of their elements.

colors = {'red', 'orange', 'yellow', 'green', 'red', 'blue' }
colors

{'blue', 'green', 'orange', 'red', 'yellow'}

In [82]:
#Length of a set
len(colors)

5

In [83]:
#Cheaking whether a value is in a set
'red' in colors

True

In [84]:
'puple' in colors

False

In [85]:
'purple' not in colors

True

In [87]:
#Iterating Through a set -- sets are iterable, so you can process each element with a for loop.
for color in colors:
    print(color.upper(), end=" ")

GREEN ORANGE YELLOW RED BLUE

In [89]:
#creating a set with Built-in set Function
list = [1,2,3,4,5,6,7,8,9]
set(list)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [99]:
# creating empty set
# do not use {} --> empty curly braces 
# use empty paranthesis
set() 

# note :- Python displays an empty set as set() to avoid confusion with python string representation of an empty dictionary.({})

set()

In [ ]:
# Frozenset : An Immutable set Type
# Sets are mutable -- you can add,remove element ,but set ele must be immutable.
# therefore a set cannot have other sets as element
# All frozen Immutable said it can not be modified after you created. So asset can contain frozen set as element.
# The building function frozen set creates a frozen set from any iterable..

In [100]:
# compairing sets
{1,2,3} == {1,2,3}

True

In [103]:
{1,2,3} < {1,2,3}

False

In [104]:
{1,2,3} <= {1,2,3}

True

In [105]:
{1,2,3}.issubset({1,2,3})

True

In [106]:
{1,2,3} >= {1,2,3}

True

In [107]:
{1,2,3} > {1,2,3}

False

In [112]:
{1,2,3}.issuperset({1,2,3})

True

In [113]:
# Set - Union
{1,2,3} | {2,3,4}

{1, 2, 3, 4}

In [119]:
{1,2,3}.union([4,5,6])

{1, 2, 3, 4, 5, 6}

In [120]:
# Intersection
{1,2,3} & {2,3,4}

{2, 3}

In [121]:
{1,2,3}.intersection([1,2,2,3,3,4,4])

{1, 2, 3}

In [125]:
# diffence - The difference between two set is a set consisting of elements in the left of rent data, not in the right of rent. 
# You can calculate a difference with - operator
{1,2,3,4,5} - {1,2,3}

{4, 5}

In [126]:
# Symmetric diffrence - Both sets that are not in common with one another.
{1,3,5} ^ {2,3,4}

{1, 2, 4, 5}

In [131]:
{1,3,5,7}.symmetric_difference([2,2,3,3,4,4])

{1, 2, 4, 5, 7}

In [132]:
# Disjoint- If they do not have any common element.
{1,3,5}.isdisjoint([2,4,6])

True

In [134]:
# Mutable Set Operations and Methods --> |= this is Union augmented assignment. 
# Performs a set union operation, but modifies its "|=" left operant.
numbers = {1,3,5}
numbers |= {2,3,4}  
numbers

{1, 2, 3, 4, 5}

In [135]:
numbers.update(range(10))

In [136]:
numbers

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [137]:
#Method for Adding and Removing Elements 
# Set method add insert its argument if argument is not already in the set. Otherwise set Remain unchanged
numbers.add(17)
numbers

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 17}

In [139]:
numbers.add(3)
numbers

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 17}

In [140]:
# Remove method - Removes its argument from the set a key error occurs if the value is not in the set.
numbers.remove(3)
numbers

{0, 1, 2, 4, 5, 6, 7, 8, 9, 17}

In [141]:
# Discard method also remove its argument from the set, but does not cause an exception if the value is not in the set.
# You can also use remove an arbitrary set element And return it with pop, but sets are nodded, so you do not know which element will be returned.
numbers.pop()

0

In [143]:
numbers.pop()

1

In [144]:
numbers.pop()  # A  keyerror occurs if the set is empty when you call pop.

2

In [145]:
# method clear --- will clear empties the set on which it's called
numbers.clear()

In [146]:
numbers

set()

In [147]:
# Set Comprehensions
# Let's create a new set containing on....nique even values in the list numbers
numbers = [1,2,2,3,4,5,6,6,7,8,9,10,10]
evens = {item for item in numbers if item % 2 == 0}
evens

{2, 4, 6, 8, 10}

In [1]:
# Array oriented programming with Numpy.
import numpy as np
numbers = np.array([ 2,  3,  5,  7,  11])
numbers

array([ 2,  3,  5,  7, 11])

In [3]:
# Multidimensional array
numbers = np.array([[1,2,3],[4,5,6]])
numbers

array([[1, 2, 3],
       [4, 5, 6]])

In [4]:
integer = np.array([[1,2,3],[4,5,6]])
integer

array([[1, 2, 3],
       [4, 5, 6]])

In [5]:
float = np.array([[12.2,12.3],[13.2,13.3]])
float

array([[12.2, 12.3],
       [13.2, 13.3]])

In [10]:
float = np.array([0.0,0.1]) # Numpy does not display trailing zeros to the right of the decimal point in the floating point values
float

array([0. , 0.1])

In [11]:
# determining the array element type
integer.dtype

dtype('int64')

In [12]:
float.dtype

dtype('float64')

In [13]:
# Determining an array's dimensions
integer.ndim

2

In [14]:
float.ndim

1

In [15]:
integer.shape

(2, 3)

In [16]:
float.shape

(2,)

In [17]:
# Determining an array's Number of elements and element size
integer.size

6

In [18]:
float.size # The total number of elements in the array

2

In [19]:
integer.itemsize # Number of byte required to store each element

8

In [20]:
float.itemsize # Number of bytes required to store each element of array.

8

In [21]:
# Iterating through multidimensional array's element
for row in integer:
    for column in row:
        print(column, end=" ")
    print()

1 2 3
4 5 6

In [25]:
# If array is one dimensional, then we can use flat 
float = np.array([[4,5,6,7,8,9]])
for i in float.flat:
    print(i, end=" ")

4 5 6 7 8 9

In [27]:
# Filling arrays with specific values - filling with zeros
import numpy as np
np.zeros(5)

array([0., 0., 0., 0., 0.])

In [29]:
# filling with 1's ----> 
import numpy as np
np.ones((2,4), dtype=int)

array([[1, 1, 1, 1],
       [1, 1, 1, 1]])

In [31]:
# The array written by the full contains elements with the second argument's value and a type
import numpy as np
np.full((3,5), 13)

array([[13, 13, 13, 13, 13],
       [13, 13, 13, 13, 13],
       [13, 13, 13, 13, 13]])

In [32]:
# Creating arrays from ranges
import numpy as np
np.arange(5)

array([0, 1, 2, 3, 4])

In [33]:
np.arange(5,10)

array([5, 6, 7, 8, 9])

In [34]:
np.arange(10,1,-2)

array([10,  8,  6,  4,  2])

In [35]:
# Creating floating-point ranges with linspace
np.linspace(0.0, 1.0, num=5)

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

In [36]:
# reshaping an array
import numpy as np
np.arange(1, 21).reshape(4,5)

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20]])

In [38]:
# Array operators
import numpy as np
numbers = np.arange(1,6)
numbers

array([1, 2, 3, 4, 5])

In [39]:
numbers * 2

array([ 2,  4,  6,  8, 10])

In [40]:
numbers ** 3

array([  1,   8,  27,  64, 125])

In [41]:
numbers # The original number is not changed by arithmetic operators

array([1, 2, 3, 4, 5])

In [42]:
# Augmented assignments modify every element in the left operand
numbers += 10
numbers

array([11, 12, 13, 14, 15])

In [43]:
numbers # Changes reflected in original number array

array([11, 12, 13, 14, 15])

In [44]:
# Arithemetic operations between arrays
num2 = np.linspace(1.1, 5.5, 5)
num2

array([1.1, 2.2, 3.3, 4.4, 5.5])

In [45]:
numbers * num2

array([12.1, 26.4, 42.9, 61.6, 82.5])

In [46]:
# compairing arrays
numbers

array([11, 12, 13, 14, 15])

In [47]:
numbers >= 13

array([False, False,  True,  True,  True])

In [50]:
num2 < numbers

array([ True,  True,  True,  True,  True])

In [52]:
numbers == num2

array([False, False, False, False, False])

In [53]:
# Numpy calculation Method
import numpy as np
grades = np.array([[87,96,70],[100,87,90],[94,77,90],[100,81,82]])
grades

array([[ 87,  96,  70],
       [100,  87,  90],
       [ 94,  77,  90],
       [100,  81,  82]])

In [54]:
# sum , min , max, mean, std, var 
grades.sum()

np.int64(1054)

In [55]:
grades.min()

np.int64(70)

In [56]:
grades.mean()

np.float64(87.83333333333333)

In [57]:
grades.std()

np.float64(8.792357792739987)

In [58]:
grades.var()

np.float64(77.30555555555556)

In [59]:
# Calculations by Row or Column
grades.mean(axis=0)

array([95.25, 85.25, 83.  ])

In [60]:
grades.mean(axis=1)

array([84.33333333, 92.33333333, 87.        , 87.66666667])

In [61]:
#Universal functions
import numpy as np
numbers = np.array([1,4,9,16,25,36])
np.sqrt(numbers)

array([1., 2., 3., 4., 5., 6.])

In [62]:
numbers2 = np.arange(1,7) * 10
numbers2

array([10, 20, 30, 40, 50, 60])

In [63]:
np.add(numbers, numbers2)

array([11, 24, 39, 56, 75, 96])

In [64]:
numbers + numbers2

array([11, 24, 39, 56, 75, 96])

In [66]:
#Broadcasting with Universal Fucntions
np.multiply(numbers2,5)

array([ 50, 100, 150, 200, 250, 300])

In [67]:
numbers2 * 5

array([ 50, 100, 150, 200, 250, 300])

In [69]:
numbers3 = numbers2.reshape(2,3)
numbers3

array([[10, 20, 30],
       [40, 50, 60]])

In [70]:
numbers4 = np.array([2,4,6])
numbers4

array([2, 4, 6])

In [72]:
np.multiply(numbers3, numbers4)

array([[ 20,  80, 180],
       [ 80, 200, 360]])

In [73]:
# Indexing and slicing
# Indexing with 2-D Arrays
import numpy as np
grades = np.array([[87,96,70],[100,87,90],[94,77,90],[100,81,82]])
grades

array([[ 87,  96,  70],
       [100,  87,  90],
       [ 94,  77,  90],
       [100,  81,  82]])

In [74]:
grades[0,1] # row 0, column 1

np.int64(96)

In [76]:
# selecting a subset of 2-D array's Row
grades[1]

array([100,  87,  90])

In [77]:
grades[0:2]

array([[ 87,  96,  70],
       [100,  87,  90]])

In [78]:
grades[[1,3]]

array([[100,  87,  90],
       [100,  81,  82]])

In [79]:
# Selecting a subset of a 2-D array's columns
grades[:, 0]

array([ 87, 100,  94, 100])

In [80]:
grades[:, 1:3]

array([[96, 70],
       [87, 90],
       [77, 90],
       [81, 82]])

In [81]:
grades[:, [0,2]]

array([[ 87,  70],
       [100,  90],
       [ 94,  90],
       [100,  82]])

In [82]:
# Views : shallow copies
import numpy as np
numbers = np.arange(1,6)
numbers

array([1, 2, 3, 4, 5])

In [83]:
numbers

array([1, 2, 3, 4, 5])

In [84]:
numbers2 = numbers.view()

In [85]:
numbers2

array([1, 2, 3, 4, 5])

In [87]:
# cheaking --> we can use build-in fucntion to see that numbers and number2 are diffrent objects
id(numbers)

1884864726288

In [88]:
id(numbers2)

1884865070352

In [90]:
# both are diffrent objects
numbers[1] *= 10
numbers

array([  1, 200,   3,   4,   5])

In [91]:
numbers2 # changes also reflected on numbers2

array([  1, 200,   3,   4,   5])

In [93]:
# Note - Changing value in the view also changes that value in the original array :
numbers2[1] /= 10
numbers2

array([1, 2, 3, 4, 5])

In [95]:
numbers

array([1, 2, 3, 4, 5])

In [97]:
# changing value in the view will also changes that value in the original array also:-
numbers2[1] /= 10
numbers2

array([1, 0, 3, 4, 5])

In [98]:
numbers

array([1, 0, 3, 4, 5])

In [99]:
# slice view
number2 = numbers[0:3]
numbers2

array([1, 0, 3, 4, 5])

In [100]:
number = np.array([1,2,3,4,5])
numbersnew = number[0:3]
numbersnew

array([1, 2, 3])

In [101]:
id(numbersnew)

1884864738672

In [102]:
id(numbers)

1884864726288

In [103]:
numbersnew[3] # if you try to acces an element which doesn't exist

IndexError: index 3 is out of bounds for axis 0 with size 3

In [106]:
number[1] *= 20

In [109]:
number

array([ 1, 40,  3,  4,  5])

In [110]:
numbers2

array([1, 0, 3, 4, 5])

In [115]:
# Deep copies
import numpy as np
numbers = np.arange(1,6)
numbers

array([1, 2, 3, 4, 5])

In [116]:
numbers2 = numbers.copy()
numbers2

array([1, 2, 3, 4, 5])

In [117]:
# numbers2 has a seperate copy of the data in numbers
numbers[1] *= 10

In [119]:
numbers2 # you can see changes only appers in numbers not in deep copy of numbers --> not  in number2

array([1, 2, 3, 4, 5])

In [121]:
numbers

array([ 1, 20,  3,  4,  5])

In [122]:
# Reshaping and Trasposing 
import numpy as np
grades = np.array([[87,96,70],[100,87,90]])
grades

array([[ 87,  96,  70],
       [100,  87,  90]])

In [123]:
grades.reshape(1,6) # reshape in 1 X 6

array([[ 87,  96,  70, 100,  87,  90]])

In [124]:
grades

array([[ 87,  96,  70],
       [100,  87,  90]])

In [126]:
# reshape doesn't modifies the original array's shape
# But resize ---> do modify the original array's shape
grades.resize(1,6)
grades

array([[ 87,  96,  70, 100,  87,  90]])

In [127]:
grades

array([[ 87,  96,  70, 100,  87,  90]])

In [128]:
# flatten vs. ravel
# You can take a multidimensional array and flatten it into a single dimension with the method flatten and revel.
# Method flatten deep copies the original array's data.
grades = np.array([[87,96,70],[100,87,90]])
grades

array([[ 87,  96,  70],
       [100,  87,  90]])

In [129]:
flattened = grades.flatten() # deep copies
flattened

array([ 87,  96,  70, 100,  87,  90])

In [130]:
grades

array([[ 87,  96,  70],
       [100,  87,  90]])

In [131]:
flattened[0] = 100
flattened

array([100,  96,  70, 100,  87,  90])

In [132]:
grades

array([[ 87,  96,  70],
       [100,  87,  90]])

In [135]:
# ravel method
raveled = grades.ravel()
raveled

array([ 87,  96,  70, 100,  87,  90])

In [136]:
grades

array([[ 87,  96,  70],
       [100,  87,  90]])

In [137]:
# to confim that ravel share the same data. let's modify an ele of raveled , then display both arrays
raveled[0] = 100
raveled

array([100,  96,  70, 100,  87,  90])

In [138]:
grades

array([[100,  96,  70],
       [100,  87,  90]])

In [139]:
# Trasposing Rows and Columns --> flip the array
grades.T

array([[100, 100],
       [ 96,  87],
       [ 70,  90]])

In [140]:
# Trasposing does not modify the original array
grades

array([[100,  96,  70],
       [100,  87,  90]])

In [142]:
# Horizontal and vertical stacking 
# You can combine areas by adding more columns or more rows known as horizontal stacking and vertical stacking
grades2 = np.array([[94,77,90],[100,81,82]])
np.hstack((grades, grades2))

array([[100,  96,  70,  94,  77,  90],
       [100,  87,  90, 100,  81,  82]])

In [143]:
np.vstack((grades, grades2))

array([[100,  96,  70],
       [100,  87,  90],
       [ 94,  77,  90],
       [100,  81,  82]])

In [149]:
# panda-- Most popular library series for one dimensional collection and data flames for two dimensional collection 
# Series is an enhanced one dimensional array
# Series support custom indexing Whereas arrays use only zero based integer indices Series also offer additional capabilities
# Series may have missing data, and many series operations ignore missing data by default
# By default, a series has integer indices numbered sequentially from zero 
# The initializer also may be a tuple, additionally, an array or another series, or a single value
# Pandas display a series in two column format with indices left aligned with left column and values rightalined in the right column.
# After listing the series element, pandas show the data type as (dtype) of the underlying errors element.
import pandas as pd
grades = pd.Series([87,100,94])
grades

0     87
1    100
2     94
dtype: int64

In [152]:
# Creating a series with all elements having the same values
pd.Series(98.6, range(3))

#note- The second argument is a 1 dimensional iterable object,
# such as (list array or a range), containing the series indices, the number of indices determine the number of elements

0    98.6
1    98.6
2    98.6
dtype: float64

In [153]:
# Accessing a series element
grades[0]

np.int64(87)

In [154]:
# Producing descriptive statistics for a series
# Series provide many methods for common task, including producing various descriptive statistics. Here we show count mean Min Max and Std
grades.count()

np.int64(3)

In [155]:
grades.mean()

np.float64(93.66666666666667)

In [156]:
grades.min()

np.int64(87)

In [157]:
grades.max()

np.int64(100)

In [158]:
grades.std()

np.float64(6.506407098647712)

In [159]:
# Each of these is a functional style, reducing calling series method described produces the all these stats and more
grades.describe()

count      3.000000
mean      93.666667
std        6.506407
min       87.000000
25%       90.500000
50%       94.000000
75%       97.000000
max      100.000000
dtype: float64

In [161]:
# Creating a series with custom indices
grades = pd.Series([87,100,94], index=['Wally', 'Eva', 'Sam'])
grades

#note - In this case, we used string indices, but you can use other immutable types, 
# including integer, not beginning at zero, and non consecutive integer. Again, notice how nicely  panda formates a series for display

Wally     87
Eva      100
Sam       94
dtype: int64

In [162]:
# Dictionary Initializers
# note - If you Initialize a series with a dictionary, its key become the series indices and value becomes a series element value.
grades = pd.Series({'Wally': 87, 'Eva': 100, 'Sam': 94})
grades

Wally     87
Eva      100
Sam       94
dtype: int64

In [163]:
# Accessing elements of a series via custom indices
grades['Eva']

np.int64(100)

In [164]:
grades.Wally

np.int64(87)

In [165]:
# Series also has built in attributes. For example, D type attribute written underlying errors element type:-
grades.dtype

dtype('int64')

In [166]:
grades.values # Value attribute returns the underlying array.

array([ 87, 100,  94])

In [167]:
# Creating a series of string -- > If a series contains string, you can use its str attribute to call string methods on the elements
# Pandas also right aligns string element values.
hardware = pd.Series(['Hammer', 'Saw', 'Wrench'])
hardware

0    Hammer
1       Saw
2    Wrench
dtype: object

In [168]:
hardware.str.contains('a') # Calling string method contains on each element to determine whether values of each element contain - lower case 'a'.

0     True
1     True
2    False
dtype: bool

In [169]:
# to create UpperCase
hardware.str.upper()

0    HAMMER
1       SAW
2    WRENCH
dtype: object

In [170]:
hardware

0    Hammer
1       Saw
2    Wrench
dtype: object

In [171]:
# DataFrames
# A dataframe is an enhanced 2-D array.
# Data frames also support missing data
# Each column in a data frame is a series 
# The series representing each column may contain different element type.

#Creating a dataframe from a Dictionary
import pandas as pd
grades_dict = {'Wally':[87,96,70] , 'Eva':[100,87,90] , 'Sam':[94,77,90] , 'Katie':[100,81,82], 'bob':[83,65,85]}
grades = pd.DataFrame(grades_dict)
grades

   Wally  Eva  Sam  Katie  bob
0     87  100   94    100   83
1     96   87   77     81   65
2     70   90   90     82   85

In [172]:
# Customising a data frame's indices with the index attribute.
grades.index = ['Test1', 'Test2', 'Test3']
grades

       Wally  Eva  Sam  Katie  bob
Test1     87  100   94    100   83
Test2     96   87   77     81   65
Test3     70   90   90     82   85

In [174]:
# Accessing a data frames columns
grades['Eva']

Test1    100
Test2     87
Test3     90
Name: Eva, dtype: int64

In [175]:
# note - If a data frames column-name string, you are valid python identifier, then you can use them as an attribute
grades.Sam

Test1    94
Test2    77
Test3    90
Name: Sam, dtype: int64

In [176]:
# Selecting rows via Loc and iloc attributes

# note - Documentation states that indexing with [] often produces a copy of the data, which is a logic error when you attempt to assign a new value to the data frames by assigning to the result of [] operation.
grades.loc['Test1']

Wally     87
Eva      100
Sam       94
Katie    100
bob       83
Name: Test1, dtype: int64

In [178]:
grades.iloc[1] # (i in iloc represents iterger indices in which it is used.)

Wally    96
Eva      87
Sam      77
Katie    81
bob      65
Name: Test2, dtype: int64

In [179]:
# Selecting rows via slices and list with the loc and iloc attributes
grades.loc['Test1':'Test3'] # loc includes high index

       Wally  Eva  Sam  Katie  bob
Test1     87  100   94    100   83
Test2     96   87   77     81   65
Test3     70   90   90     82   85

In [184]:
# iloc excludes high index
grades.iloc[0:2]

       Wally  Eva  Sam  Katie  bob
Test1     87  100   94    100   83
Test2     96   87   77     81   65

In [185]:
# To select specific rows,use a list rather than a slice notation with loc or iloc.
grades.loc[['Test1', 'Test3']]

       Wally  Eva  Sam  Katie  bob
Test1     87  100   94    100   83
Test3     70   90   90     82   85

In [186]:
grades.iloc[[0,2]]

       Wally  Eva  Sam  Katie  bob
Test1     87  100   94    100   83
Test3     70   90   90     82   85

In [187]:
# Selecting subsets of a rows and columns
# Suppose you want to view only Evas and Kathy's grades on test 1 and test 2. 
# You can do that by using loc with a slice for two consecutive rows and a list for the two non consecutive rows.
grades.loc['Test1':'Test2', ['Eva', 'Katie']]

       Eva  Katie
Test1  100    100
Test2   87     81

In [188]:
# Let's use iloc with a list and a slice to select 1st and 3rd test in the first three columns for those tests
grades.iloc[[0,2], 0:3]

       Wally  Eva  Sam
Test1     87  100   94
Test3     70   90   90

In [189]:
# Boolean indexing
grades[grades >= 90]

# note- (NaN) means "not a number" condition is false. "Nan" is a python notation for missing values.

       Wally    Eva   Sam  Katie  bob
Test1    NaN  100.0  94.0  100.0  NaN
Test2   96.0    NaN   NaN    NaN  NaN
Test3    NaN   90.0  90.0    NaN  NaN

In [190]:
grades[(grades >= 80) & (grades < 90)]

       Wally   Eva  Sam  Katie   bob
Test1   87.0   NaN  NaN    NaN  83.0
Test2    NaN  87.0  NaN   81.0   NaN
Test3    NaN   NaN  NaN   82.0  85.0

In [194]:
# Accessing a specific data frame cell by row and column
# We can use data frames like 'at'(uses labels) or 'iat'(uses interger indices) attribute to get a single value from a data frame.
grades.at['Test2' , 'Eva']

np.int64(87)

In [192]:
grades.iat[2,0]

np.int64(70)

In [195]:
# You can assign a new value to a specific element
grades.at['Test2' ,'Eva'] = 100

In [196]:
grades.at['Test2', 'Eva']

np.int64(100)

In [197]:
grades.iat[1,2] = 87

In [198]:
grades.iat[1,2]

np.int64(87)

In [201]:
# Descriptive statistics
grades.describe()

           Wally         Eva        Sam       Katie        bob
count   3.000000    3.000000   3.000000    3.000000   3.000000
mean   84.333333   96.666667  90.333333   87.666667  77.666667
std    13.203535    5.773503   3.511885   10.692677  11.015141
min    70.000000   90.000000  87.000000   81.000000  65.000000
25%    78.500000   95.000000  88.500000   81.500000  74.000000
50%    87.000000  100.000000  90.000000   82.000000  83.000000
75%    91.500000  100.000000  92.000000   91.000000  84.000000
max    96.000000  100.000000  94.000000  100.000000  85.000000

In [202]:
grades.mean()

Wally    84.333333
Eva      96.666667
Sam      90.333333
Katie    87.666667
bob      77.666667
dtype: float64

In [203]:
# transpose
grades.T

       Test1  Test2  Test3
Wally     87     96     70
Eva      100    100     90
Sam       94     87     90
Katie    100     81     82
bob       83     65     85

In [204]:
grades.T.describe()

            Test1       Test2      Test3
count    5.000000    5.000000   5.000000
mean    92.800000   85.800000  83.400000
std      7.661593   13.809417   8.234076
min     83.000000   65.000000  70.000000
25%     87.000000   81.000000  82.000000
50%     94.000000   87.000000  85.000000
75%    100.000000   96.000000  90.000000
max    100.000000  100.000000  90.000000

In [205]:
grades.T.mean()

Test1    92.8
Test2    85.8
Test3    83.4
dtype: float64

In [206]:
# Sorting by rows by their indices
grades.sort_index(ascending=False) # Shorting the rows by their indices in descending order

       Wally  Eva  Sam  Katie  bob
Test3     70   90   90     82   85
Test2     96  100   87     81   65
Test1     87  100   94    100   83

In [207]:
grades.sort_index(ascending=True)

       Wally  Eva  Sam  Katie  bob
Test1     87  100   94    100   83
Test2     96  100   87     81   65
Test3     70   90   90     82   85

In [208]:
# Shorting by column indices
# axis=1  keyword argument indicates that we wish to sort the column indices rather than the row indices. 
#axis= 0 (the default) ---> sort ----row indices
grades.sort_index(axis=1)

       Eva  Katie  Sam  Wally  bob
Test1  100    100   94     87   83
Test2  100     81   87     96   65
Test3   90     82   90     70   85

In [210]:
# Shorting by column values
grades.sort_values(by='Test1' , axis=1, ascending=False)

       Eva  Katie  Sam  Wally  bob
Test1  100    100   94     87   83
Test2  100     81   87     96   65
Test3   90     82   90     70   85

In [211]:
grades.T.sort_values(by='Test1', ascending=False) # Since we are sorting only test one grades, you might not want to see the other test at all

       Test1  Test2  Test3
Eva      100    100     90
Katie    100     81     82
Sam       94     87     90
Wally     87     96     70
bob       83     65     85

In [212]:
#combine both
grades.loc['Test1'].sort_values(ascending=False)

Eva      100
Katie    100
Sam       94
Wally     87
bob       83
Name: Test1, dtype: int64

In [1]:
f'{17.45689:.2f}'

'17.46'

In [2]:
 f'{10:d}'  # d representation type formats integer value as a string.

'10'

In [3]:
# c presentation type --> 
f'{65:c} {97:c}' #Formats an integer character code as the corresponding character.

'A a'

In [5]:
# Stirngs
# s presentation type is a default.
f'{"hello":s} {7}'

# note - Hello is enclosed in double quotes you can not place single quote inside a single-quoted string

'hello 7'

In [7]:
# floating and decimal values
# f presentation type to format floating-point and decimal values.
from decimal import Decimal
f'{Decimal("1000000000000000000000000000000.0"):.3f}'

'1000000000000000000000000000000.000'

In [8]:
f'{Decimal("1000000000000000000000000000000.0"):.3e}'

'1.000e+30'

In [9]:
# Feild Widths and Alignment
f'[{27:10d}]'

'[        27]'

In [10]:
f'[{3.5:10f}]'

'[  3.500000]'

In [11]:
f'[{"Hello":10}]'

'[Hello     ]'

In [12]:
# Explicitly Specifying Left and Right Alignment in a Feild
# You can specify left and right alignment with < and > 
f'[{27:<15d}]'

'[27             ]'

In [13]:
f'[{3.5:<15f}]'

'[3.500000       ]'

In [14]:
f'[{"Hello":>15}]'

'[          Hello]'

In [15]:
# Centering a value in a field
f'[{27:^7d}]'

'[  27   ]'

In [16]:
f'[{3.5:^7.1f}]'

'[  3.5  ]'

In [17]:
f'[{"Hello":^7}]'

'[ Hello ]'

In [18]:
# Numeric formatting
f'[{27:+10d}]'

'[       +27]'

In [19]:
f'[{27:+010d}]'

'[+000000027]'

In [20]:
# Using a space where +a Sign would apper in a positive value
print(f'{27:d}\n{27: d}\n{-27: d}')

27
 27
-27

In [21]:
# Grouping Digits
# You can format numbers in thousands separators by using (,)
f'[{12345678: ,d}]'

'[ 12,345,678]'

In [22]:
f'{123456.78:,.2f}'

'123,456.78'

In [23]:
# String's Format Method
'{:.2f}'.format(17.489)

'17.49'

In [27]:
# Multiple Placeholders
'{} {}'.format( 'Amanda', 'Cyan')

'Amanda Cyan'

In [30]:
# Multiple Placeholders
'hello {} hello {} How are you!'.format( 'Amanda', 'Cyan')

'hello Amanda hello Cyan How are you!'

In [33]:
# Refreshing arguments by position number
'{0} boy {0} {1} Gyan'.format('Happy','Birthday')

'Happy boy Happy Birthday Gyan'

In [37]:
'{1} ji {1} ji'.format('Goutam','Tiwari')

'Tiwari ji Tiwari ji'

In [38]:
# Refreshing keyword arguments
'{first} {last}'.format(first='Amanda', last='Gray')

'Amanda Gray'

In [40]:
# Refreshing keyword arguments
'{last} {first} '.format(first='Amanda', last='Gray')

'Gray Amanda '

In [42]:
# Concatenating and Repeating Strings
s1 = 'happy'
s2 = 'birthday'
s1

'happy'

In [43]:
s2

'birthday'

In [45]:
s1 + " " + s2

'happy birthday'

In [46]:
s1 += " " + s2

In [47]:
s1

'happy birthday'

In [48]:
s1

'happy birthday'

In [55]:
symbol = '>'
s1 > s2
s1

'happy birthdayhappy birthdayhappy birthdayhappy birthdayhappy birthdayhappy birthdayhappy birthdayhappy birthdayhappy birthdayhappy birthdayhappy birthdayhappy birthdayhappy birthdayhappy birthdayhappy birthdayhappy birthdayhappy birthdayhappy birthdayhappy birthdayhappy birthdayhappy birthdayhappy birthdayhappy birthdayhappy birthdayhappy birthday'

In [56]:
symbol *= 5

In [53]:
s1 *= 5
s1

'happy birthdayhappy birthdayhappy birthdayhappy birthdayhappy birthdayhappy birthdayhappy birthdayhappy birthdayhappy birthdayhappy birthdayhappy birthdayhappy birthdayhappy birthdayhappy birthdayhappy birthdayhappy birthdayhappy birthdayhappy birthdayhappy birthdayhappy birthdayhappy birthdayhappy birthdayhappy birthdayhappy birthdayhappy birthday'

In [57]:
symbol

'>>>>>'

In [58]:
# Stripping whitespace from strings.

# 1. Removing leading and trailing whitespace

# Let's use a string method strip to remove leading and trailing whitespaces from string.
sentence = '\t \n This is a test string. \t\t \n'
sentence.strip()

'This is a test string.'

In [60]:
# Removing only leading whitespace
sentence.lstrip()

'This is a test string. \t\t \n'

In [61]:
# Removing only trailing whitespace
sentence.rstrip()

# note- As the output Demonstrate these methods remove all kind of (white space, including spaces, new lines and tabs).

'\t \n This is a test string.'

In [64]:
# Changing Character Case
# use method capitalize and title

# Capitalizing only a string's first character.
'happy birthday'.capitalize()

# note
# Capitalize copies the original string and return a new string with only the first letter capitalized. 
# This is sometimes called sentence capitalization.

'Happy birthday'

In [65]:
# Capitalizing the first character of every word in a string.
# method - title --> Sometimes called book-title capitalization.
'strings: a deeper look'.title()

'Strings: A Deeper Look'

In [66]:
'hello goutam'.title()

'Hello Goutam'

In [69]:
# Comparison operators for strings.
# You can check the character code by Ord
ord('a')

97

In [71]:
print(f'A: {ord("A")}; a: {ord("a")}')

A: 65; a: 97

In [72]:
# Let's compare String - "Orange" and "orange"
'Orange' == 'orange'

False

In [73]:
'Orange' != 'orange'

True

In [74]:
'Orange' <= 'orange'

True

In [75]:
'Orange' > 'orange'

False

In [76]:
'Orange' >= 'orange'

False

In [77]:
# Searching For Substrings
# You can search in a string for one or more adjacnet character knows as substring.
# compare syntax characters You can search in a string for one or more adjacent character known as sub string to count the number of occurrence determined whether a string contains a substring or determine the index at which sub string resides in a string. 
# Each method show in this section compare characters Lexicographically using their underlying numeric value.

# Counting Occurances
sentence = 'to be or not to be that is the question'
sentence.count('to')

2

In [78]:
# Starting index through end of the string.
sentence.count('to', 12)

1

In [79]:
# Starting index and ending index
sentence.count('that', 12, 25)

1

In [80]:
# Locating  a sub-string in a string.
sentence.index('be')

# A value error will occur if substring not found.

3

In [81]:
# rindex -- > Performs the same operation as index, but searches from the end of the string and return the last index.
# if sub string is found. Otherwise, value error occur.
sentence.rindex('be')

16

In [82]:
# String method - .find() and .rfind() --> 
# Perform the same task as index and R Index. But if the sub string is not formed, it return -1, rather than causing a value error.
sentence.find('to')

0

In [83]:
sentence.find('be')

3

In [84]:
sentence.rfind('be')

16

In [85]:
# Determine whether a string contains a substring. -- using --> in and not in
'that' in sentence

True

In [86]:
'THAT' in sentence

False

In [87]:
'THAT' not in sentence

True

In [89]:
# Locating a substring at the beginning or ending of a string.--> .startswith() and .endwith() -->returns True--> if String start or end with same substirng
sentence.startswith('to')

True

In [90]:
sentence.endswith('be')

False

In [91]:
sentence.endswith('question')

True

In [92]:
sentence.endswith('quest')

False

In [94]:
# Replacing Sub-Strings
values = '1\t2\t3\t4\t5'
values.replace('\t', ',')

'1,2,3,4,5'

In [95]:
# Splitting and joining strings.
letter = 'A, B, C, D'
letter.split(', ')

['A', 'B', 'C', 'D']

In [97]:
letter.split(', ', 2)

['A', 'B', 'C, D']

In [98]:
# rsplit() method --> Perform Simtask as split, but processes the maximum number of splits from the end of the string towards the beginning.
letter.split(', ')

['A', 'B', 'C', 'D']

In [99]:
letter.rsplit(', ')

['A', 'B', 'C', 'D']

In [101]:
# Joining Strings
letter_list = ['A' , 'B' , 'C' , 'D']
','.join(letter_list)

'A,B,C,D'

In [104]:
# list comprehension -- creates a list of string
','.join([str(i) for i in range(10)])

'0,1,2,3,4,5,6,7,8,9'

In [105]:
# String method partition and rpartition
'Amanda: 89, 97, 92'.partition(': ')

('Amanda', ': ', '89, 97, 92')

In [106]:
# use rpartition --> to split
'Amanda: 89, 97, 92'.rpartition(': ')

('Amanda', ': ', '89, 97, 92')

In [109]:
url = 'https://www.google.com/search?sca_esv=4f9cd8e0fdf28683&rlz=1C1ONGR_enIN1037IN1037&sxsrf=ADLYWILFvYINjF4xusyrye6PD8YbNR1TkQ:1732094865963&q=url+of+random+images&udm=2&fbs=AEQNm0CFDpRHaDHkXm_YXueHTfHtrgIXUKlluACpCix4T5ZoUSz6e3GWv4zN_09JkP2cR-DwqD-ER1CSuTjXzdXNKT0Wma9mNyum3oWLzhs1xt8u5N_8f3uUgStDs9UpKFAFlFGSOMoqQM9HMiNsP9mioHh2RXyquw6CV17dtB6pod7Wqwuaoj8KLwF-5ybcxBC-9vVePghwqzsfsWfHCa5dRS4yxLs8KA&sa=X&ved=2ahUKEwjCv8-ZzOqJAxUDm68BHV6RDG4QtKgLegQIGRAB&biw=1291&bih=600&dpr=1.49#vhid=p9Y4RLzHUuxwuM&vssid=mosaic'
rest_of_url, separator, document = url.rpartition('/')
rest_of_url

'https://www.google.com'

In [110]:
# string method- splitlines.
lines = """this is line 1
this is line2
this is line3"""
lines

'this is line 1\nthis is line2\nthis is line3'

In [111]:
lines.splitlines() # Method splitlines returns a list of new string representing the line of text split at each
# character in the original string.

['this is line 1', 'this is line2', 'this is line3']

In [112]:
lines.splitlines(True) # Passing True to splitlines keeps the newlines at the end of each string

['this is line 1\n', 'this is line2\n', 'this is line3']

In [113]:
# Characters and the character testing methods.
'-27'.isdigit()

False

In [114]:
'27'.isdigit()

True

In [115]:
'A997980'.isalnum() # Will return true if string is alpha numeric?

True

In [116]:
'123 Main Street'.isalnum()

False

In [117]:
'hdiufhodf'.isalpha()

True

In [118]:
'78'.isdigit()

True

In [119]:
'goutam'.isidentifier()

True

In [120]:
'89'.isdigit()

True

In [121]:
'lower'.islower()

True

In [122]:
'34-98=23'.isnumeric()

False

In [123]:
'-98'.isnumeric()

False

In [124]:
'89'.isnumeric()

True

In [132]:
'Hello Goutam'.istitle() # Return true If every letter of word is capital.

True